.area {
  display: flex;
  flex-wrap: wrap;
  height: 550px;
  margin: 15%;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.count {
  width: 100%;
  height: 30px;
  text-align: right;
  padding: 10px 20px;
}

.userList {
  width: 100%;
  height: calc(100% - 60px - 40px);
  padding: 0px 20px 10px;
  overflow: auto;
}

.user {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.createUser {
  width: 100%;
  height: 30px;
  padding: 10px 20px;
  text-align: center;
}